<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aware.app.stop">

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aware.app.stop.MainActivity" />
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/main_feedback"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aware.app.stop.MainActivity" />
        </activity>
        <activity
            android:name=".HealthActivity"
            android:label="@string/main_daily_survey"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aware.app.stop.MainActivity" />
        </activity>
        <activity
            android:name=".ConsentActivity">
        </activity>

        <provider
            android:name=".database.Provider"
            android:authorities="${applicationId}.database.provider.stop_project"
            android:exported="true"
            android:label="@string/provider_game_label"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name=".database.Stop_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_stop" />
        </service>

        <receiver android:name=".MainActivity$ParkinsonSnapshot">
            <intent-filter>
                <action android:name="ACTION_STOP_FINGERPRINT" />
                <action android:name="ACTION_STOP_SURVEY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>